.main-header .navbar-app-title, .main-header .current-rpc {
    display: none;
}

.custom-app-title .main-header .logo {
    height: 74px;
}

.custom-app-title .main-header .logo .logo-lg i.fa-caret-right {
    display: none;
}

.custom-app-title .main-header .current-rpc {
    font-size: 14px;
    line-height: 2px;
    color: #efefef;
    display: block;
}

.custom-app-title .main-header .current-rpc .dropdown .dropdown-menu {
    margin-top: 6px;
}

.custom-app-title .main-header .navbar {
    min-height: 74px;
}

.custom-app-title .main-sidebar, .custom-app-title.fixed .content-wrapper, .custom-app-title.fixed .right-side {
    padding-top: 74px;
}

.custom-app-title .main-header {
    -webkit-app-region: drag;
}

.custom-app-title.modal-open .main-header,
.custom-app-title.stop-scrolling .main-header {
    -webkit-app-region: no-drag !important;
}

.custom-app-title .main-header .current-rpc span, .custom-app-title .main-header .navbar-nav {
    -webkit-app-region: no-drag;
}

.custom-app-title .main-header .navbar-app-title {
    height: 24px;
    display: inline-block;
}

.custom-app-title .main-header .navbar-toolbar {
    margin-top: 24px;
}

